<link rel="import" href="/assets/components/polymer/polymer.html">
<link rel="import" href="/assets/app/elements/custom-template.html">

<dom-module id="customer-template">
    <template>
        <custom-template pages='[{"menuName":"Identification","pageId":"page_Identification","schema":"/customer/template/identification_schema","options":"/customer/template/identification_options","buttonId":"create_identification"}]'></custom-template>
    </template>
</dom-module>
<script>
    Polymer({
      is: 'customer-template'
    });
</script>